@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #fcfcfc;
    --secondary-color: black;
    --heading: 'Dancing Script', cursive, serif;
    --paragraph: 'Roboto Condensed', sans-serif;
    --background-color: #ffff;
    --nav-background-color: #E4DBFB;
    --nav-link-color: #fcfcfc;
    --nav-hover-link-color: #CFB1B7;
    --nav-hover-background-color: #83858C;

}

body {
    font-family: var(--paragraph);
    background-color: var(--primary-color);
}

header {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    background-color: var(--nav-hover-background-color);
}

header img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 25px;
}

nav {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    width: 100%;
    line-height: 3rem;
    text-align: right;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    margin-right: 1rem;
    color: var(--nav-link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #535353;
    border-radius: 15px;
}

section {
    max-width: 1200px;
    margin: 10px;
}

section img {
    width: 80%;
    margin: 5px;
    position: relative;

}

p {
    color: var(--secondary-color);
}


.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgba(109, 118, 58, 0.24);
}

.hero img {
    display: block;
    height: auto;
    width: 100%;


}

.adventures {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure-image {
    flex: 1;
    text-align: center;
}

.adventure-image img {
    max-width: 100%;
}

article {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.458);
    top: 150px;
    width: 80%;
}

.hero article img {
    width: 200px;
    float: right;
    position: relative;
}

main {
    display: block;
}

footer img {
    width: 40px;
    height: auto;
}

.centered {
    text-align: center;
}


.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 40px;

}


iframe {
    display: flex;
    align-content: center;
    border: 0;
}

.adventures {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure-image {
    flex: 1;
    text-align: center;
}

.adventure-image img {
    max-width: 100%;
}


.employee-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee {
    text-align: center;
    margin: 20px;
}

.employee img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.employee p {
    margin-top: 10px;
}

form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    box-sizing: border-box;
}

button,
.cta-button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

article img {
    display: grid;
}

button,
.cta-button:hover {
    background-color: #535353;
}