:root {
    --padding: 1rem;
    --background-color: rgb(18, 124, 102);
    --border: 1px double black;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);

}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--background-color);
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}